<div class="container" >
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4>Agregar pendientes
                    </div>
                    <div class="card-body">
                        <form action="/tasks/add" method="POST">
                            <div class="mb-3">
                                <label for="titulo">Titulo</label>
                                <input type="text" name="titulo" id="titulo"class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="descripcion">Descripcion</label>
                                <textarea  name="descripcion" id="des"class="form-control"></textarea>                             
                            </div>
                            <div class="mb-3">
                                <button  class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>